.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .edit-item {
    padding: 30px 40px;
    border-radius: 4px;
    width: 600px;
    margin: 70px auto;
    background-color: white;

    .body {
      .edit-field {
        textarea {
          padding: 6px 8px;
          width: 550px;
          border-radius: 4px;
          height: 100px;
          margin-bottom: 20px;
        }
      }
    }

    .buttons {
      button {
        &.save {
          background-color: #6dc993;
          color: white;
        }
      }
    }
  }
}
